{
  "OpenSensors": {
    "apiKey": "",
    "apiUrl": "https://realtime.opensensors.io/v1/",
    "deviceID": "",
    "devicePassword": "",
    "topicName": "",
    "username": ""
  },
  "TTN": {
    "accessKey": "",
    "applicationID": "",
    "deviceID": "",
    "region": ""
  }
}
